<div class="row ">
  <div class="jumbotron text-center index-title">
    <h1 class="mega-title">myCookbook</h1>
  </div>
  <div class="video-home-container full-height full-width">
    <video muted="muted" autoplay="autoplay" loop="loop" class="video-home" src="/assets/videos/index-video.mp4"></video>
  </div>
</div>
<div class="container">
<div class="main-menu">
        <div class="row">

            <div class="col-lg-12">
                <h1 class="page-header">Categories</h1>
            </div>
            <div class="col-lg-4 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive index-boxes" src="/assets/images/salads-placeholder.jpg" alt="">
                    <h1 class="category-title">Salads</h1>
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive index-boxes" src="/assets/images/snacks-placeholder.jpg" alt="">
                    <h1 class="category-title">Snacks</h1>
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive index-boxes" src="/assets/images/breakfast-placeholder.jpg" alt="">
                    <h1 class="category-title">Breakfast</h1>
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive index-boxes" src="/assets/images/entrees-placeholder.png" alt="">
                    <h1 class="category-title">Entrees</h1>
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive index-boxes" src="/assets/images/soups-placeholder.jpg" alt="">
                    <h1 class="category-title">Soups</h1>
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive index-boxes" src="/assets/images/desserts-placeholder.jpg" alt="">
                    <h1 class="category-title">Desserts</h1>
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive index-boxes" src="/assets/images/quick-placeholder.jpg" alt="">
                    <h1 class="category-title">Quick</h1>
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive index-boxes" src="/assets/images/healthy-placeholder.jpg" alt="">
                    <h1 class="category-title">Healthy</h1>
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive index-boxes" src="/assets/images/beverages-placeholder.jpg" alt="">
                    <h1 class="category-title">Drinks</h1>
                </a>
            </div>
        </div>
      </div>
</div>
