{{#each item as |category|}}
   <div class="checkbox">
    <label>
      {{input type="checkbox" name="category" checked=isPicked value=category.id}} {{category.name}}
    </label>
  </div>
{{/each}}
