<div class="explore-options">
<div class="row">
  <div class="col-sm-6 byrecipe">
    {{#link-to 'explore.recipes' class="page-scroll"}}<a href=""><img class="img-circle img-responsive img-center" src="/assets/images/allrecipes-image.jpg" alt="">
    <h1 class="explore-text">By Recipe</h1></a>{{/link-to}}
  </div>
  <div class="col-sm-6 byingredients">
    <img class="img-circle img-responsive img-center" src="/assets/images/byingredients-image.jpg" alt="">
    <h1 class="explore-text">By Ingredients</h1>
  </div>
</div>
</div>
