<div class="row">
  <div class="jumbotron text-center explore-title">
    <h1 class="super-title">Explore</h1>
  </div>
</div>
<br>
<div class="row">
  <div class="col-sm-4">
    <img class="img-circle img-responsive img-center" src="http://placehold.it/300x300" alt="">
    <h2>Marketing Box #1</h2>
  </div>
  <div class="col-sm-4">
    <img class="img-circle img-responsive img-center" src="http://placehold.it/300x300" alt="">
    <h2>Marketing Box #2</h2>
  </div>
  <div class="col-sm-4">
    <img class="img-circle img-responsive img-center" src="http://placehold.it/300x300" alt="">
    <h2>Marketing Box #3</h2>
  </div>
</div>
