<div class="row">
  <div class="jumbotron text-center explore-title">
    <h1 class="super-title">Explore</h1>
  </div>
</div>
<br>
<br>
<div class="explore-options">
<div class="row">
  <div class="col-sm-4">
    <img class="img-circle img-responsive img-center" src="/assets/images/allrecipes-image.jpg" alt="">
    <h2>All Recipes</h2>
  </div>
  <div class="col-sm-4">
    <img class="img-circle img-responsive img-center" src="/assets/images/byingredients-image.jpg" alt="">
    <h2>By Ingredients</h2>
  </div>
  <div class="col-sm-4">
    <img class="img-circle img-responsive img-center" src="/assets/images/byname-image.jpg" alt="">
    <h2>By Name</h2>
  </div>
</div>
</div>
