<div class="row">
  <div class="jumbotron text-center about-title">
    <h1 class="super-title">About</h1>
  </div>
</div>
<br>
<br>
<div class="container about-text col-sm-6 col-sm-offset-3" align="center">
<p>This application is meant to be an online database of several recipes and ingredients so that multiple users can use them to create splendid dishes</p>
<br><p>You are able to look for the ideal recipe whether it is by name or by ingredients at your disposal</p>
<br><p>Made by Fausto Murillo Beltran on August 2016</p>
<br><br>
<p class="cookbook-brand"><i class="fa fa-fire"></i>myCookbook</p>
</div>
