<div class="row">
  <div class="jumbotron text-center myrecipes-title">
    <h1 class="super-title">MyRecipes</h1>
  </div>
</div>
<br>
<br>
<div class="well">
    <ul class="nav nav-pills">
{{#link-to 'myrecipes.new' tagName="li"}}<a href="">Add new</a>{{/link-to}}

    </ul>
</div>

{{outlet}}
